#----------------------------------------------------------
# Configurations
#----------------------------------------------------------
.env
phpunit.xml
docker-compose-example.yml

#----------------------------------------------------------
# Workdir
#----------------------------------------------------------
/node_modules
/vendor
/public/storage
/storage/*.key

#----------------------------------------------------------
# Files
#----------------------------------------------------------
/.idea
Homestead.json
Homestead.yaml
